.site {
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    grid-template-rows: 120px 120px 1fr 120px;
    height: 100vh;
}

.header,
.footer,
.navegacion {
    grid-column: span 2;
}

h1 {
    margin-block: 5px;
}

h2 {
    margin-block: 10px;
}

p {
    margin-block: 0px;
}

h3 {
    margin-block: 5px;
}

.articulo:hover h3 {
    font-weight: bold;
}

.button {
    width: auto;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-direction: column;
    padding-left: 20px;
}

.mascota {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-direction: column;
    padding-left: 40px;
    padding-right: 40px;
}

.mascota__contenido {
    border: 2px solid #b0dde4;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    padding: 10px 10px 10px 0px;
}

.navegacion {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 20px 20px 20px 20px;
}

.buscador {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 320px;
}

.buscador__navegacion p {
    color: white;
    width: 100px;
    text-align: center;
}

.buscador__navegacion select {
    width: 170px;
    font-family: 'Noto Sans', sans-serif;
}

.buscador__navegacion__item {
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
}

.buscador__navegacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: #df4b73;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}

.buscador__lista {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 316px;
    height: 35vh;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid #e9e9e9;
}

.articulo {
    display: flex;
    background-color: #e2f0f9;
    width: 280px;
    height: 150px;
    margin-bottom: 10px;
}

.articulo__imagen {
    height: -webkit-fill-available;
    width: 140px;
    margin-right: 10px;
}

.mascota__imagen {
    height: 100%;
    width: 240px;
    padding: 0px 20px 0px 20px;
}

.mascota__informacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
}

.articulo__informacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
}

.buscador h2 {
    font-weight: bold;
}

@media only screen and (max-width: 720px) {
    .site {
        grid-template-columns: 1fr;
        grid-template-rows: 120px 0.5fr 1fr 1fr 120px;
        min-height: 100vh;
    }

    .header,
    .footer,
    .navegacion {
        grid-column: span 1;
    }

    .mascota {
        padding-bottom: 20px;
        padding-top: 20px;
    }

    .mascota__contenido {
        flex-direction: column;
    }

    .mascota__informacion {
        text-align: center;
        align-items: center;
        padding-bottom: 10px;
    }

    .mascota__informacion h2 {
        margin-block: 0px;
    }

    .mascota__imagen {
        height: 200px;
        width: calc(100% - 40px);
        padding: 0px 20px 10px 20px;
    }
}