.site {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 120px 1fr 120px;
    min-height: 100vh;
}

.busqueda {
    padding: 0px 40px 0px 40px;
}

.navegacion {
    margin-top: 15px;
    display: flex;
    align-items: flex-end;
    margin-bottom: 15px;
}

.navegacion__busqueda {
    margin-right: 15px;
    width: 70vw;
    background-color: #e9e9e9;
    color: #333333;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #c7c7c7;
    font-family: 'Noto Sans', sans-serif;
    height: 10px;
    padding: 10px 10px 10px 10px;
}

.button {
    width: 100px;
    height: 30px;
    font-size: 14px;
}

.busqueda a {
    color: #286fb4;
    text-align: right;
    margin-bottom: 20px;
    font-size: 14px;
}

.busquedas {

    width: 100%;
}

.busquedas__lista {
    display: flex;
    flex-direction: column;
    padding-top: 10px;

}

.busquedas__item {
    display: flex;
    width: 300px;
    padding-bottom: 15px;
}

.busquedas__item a {
    text-align: left;
}

.busquedas__item i {
    font-size: 60px;
    padding-right: 20px;
}

.busquedas__informacion {
    display: flex;
    flex-direction: column;
}


h3 {
    margin-block: auto;
    font-weight: bold;
}

h2 {
    margin-block: 10px;
}

p {
    margin-block: auto;
}