.site {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 120px 1fr 0.9fr 120px;
    min-height: 100vh;
}

.header,
.footer {
    grid-column: span 2;
}

h1 {
    margin-block: 5px;
}

h2 {
    margin-block: 5px;
}

p {
    margin-block: 5px;
}

h3 {
    margin-block: 0px;
}

.item .button {
    width: 100px;
    height: 30px;
}

.item {

    padding: 40px 40px 0px 40px;

}

.item__contenido {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid #286fb4;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    padding: 10px 10px 10px 10px;
}

.item__form {
    text-align: left;
    width: 80%;
    padding-top: 10px;
    padding-bottom: 20px;
}

.form {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-row: span 2;
    padding-right: 40px;
}

.form__contenido {
    text-align: left;
    padding-top: 50px;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    grid-gap: 15px 20px;
}

.form__item {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form__item textarea {
    height: 100%;
}

.articulo {
    display: flex;
    background-color: #e9e9e9;
}

.articulo__imagen {
    width: 230px;
}

.articulo .button {
    width: 150px;
    height: 30px;
    font-size: 14px;
}

.articulo__informacion {
    display: flex;
    flex-direction: column;
    padding: 10px 20px 20px 20px;
}

.articulo__informacion p {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.articulo__button {
    height: -webkit-fill-available;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

@media only screen and (max-width: 940px) {
    .site {
        grid-template-columns: 1fr;
        grid-template-rows: 120px 0.5fr 1fr 120px;
        min-height: 100vh;
    }

    .header,
    .footer {
        grid-column: span 1;
    }

    .form {
        grid-row: span 1;
        padding-left: 40px;
        padding-bottom: 40px;
    }

    .item {
        padding: 40px 40px 20px 40px;
    }

    .tarjeta {
        display: none;
    }
}