.site {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 120px 1fr 120px;
    min-height: 100vh;
}

.jornada {
    display: flex;
    flex-direction: column;
}

.jornada a {
    color: #286fb4;
    text-align: right;
    margin-right: 40px;
    margin-bottom: 20px;
    font-size: 14px;
}

.jornada__especificaciones {
    display: flex;
    background-color: #e2f0f9;
    margin: 20px 40px 20px 40px;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.jornada__detalle {
    padding: 10px 20px 20px 20px;
    margin-right: 60px;
}

.jornadas__item {
    display: flex;
    align-items: center;
    width: 300px;
    padding-bottom: 15px;
}

h3 {
    margin-block: auto;
    font-weight: bold;
}

h2 {
    margin-block: 10px;
}

p {
    margin-block: auto;
}

.jornadas__informacion {
    display: flex;
    flex-direction: column;
    padding: 10px 40px 10px 40px;
}