.navegacion {

    grid-column: span 3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    background-color: #e2f0f9;
}

.site {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 120px 1.2fr 1fr 120px;
    min-height: 100vh;
}

.header,
.footer {
    grid-column: span 3;
}

.navegacion__item img {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 15vw;
    height: 15vw;
    min-width: 100px;
    min-height: 100px;
}

.navegacion__item h3 {
    padding-left: 50px;
    padding-right: 50px;
}

.navegacion__item {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.item {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.item h2 {
    margin-block: 0;
}

.item__icon {
    margin-bottom: 10px;
}

.item--color1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.item--color2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.item--color3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media only screen and (max-width: 600px) {
    .site {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 120px 1.5fr 0.5fr 0.5fr 0.5fr 120px;
        min-height: 100vh;
    }

    .header,
    .footer,
    .navegacion {
        grid-column: span 2;
    }

    .item {
        grid-column: span 2;
    }
}