.site {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 120px 80px 1fr 30px 120px;
    min-height: 100vh;

}

h1 {
    margin-block: auto;
}

h2 {
    margin-block: 10px;
}

p {
    margin-block: 0px;
}

h3 {
    margin-block: 5px;
}

.header,
.footer,
.navegacion {
    grid-column: span 2;

}

.navegacion {
    padding: 20px 40px 10px 40px;
}

.button {
    width: 100px;
    height: 30px;
    font-size: 14px;
    margin-top: 15px
}

.noticias__imagen {
    height: 50%;
    width: 100%;
}

.noticia {
    display: flex;
    flex-direction: column;
    background-color: #e9e9e9;
    margin-right: 20px;
    margin-bottom: 20px;
    flex-grow: 1;
    min-width: 170px;
    max-width: 300px;
}

.noticia__informacion {
    display: flex;
    flex-direction: column;
    padding: 0px 20px 20px 20px;
}

.noticias__lista {
    grid-column: span 2;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0px 20px 0px 40px;
}

.noticia__button {
    height: -webkit-fill-available;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.anterior a {
    color: #286fb4;
    font-size: 14px;
}

.anterior {
    grid-column: span 2;
    padding: 0px 40px 0px 40px;
    display: flex;
}

@media only screen and (max-width: 1200px) {
    .noticia {
        height: 400px;
        margin-bottom: 20px;
    }

    .noticias__imagen {
        height: 50%;
    }
}